<ion-view >
  <ion-nav-bar class="bar-assertive" align-title="center">
  <ion-nav-buttons class="nbutton-bgcolor" side="left" >
    <button class=" button button-clear header-item" ng-click="goBack()">
      <i class="icon ion-arrow-left-c"> </i> 
    </button>
  </ion-nav-buttons>
  <ion-nav-title>
    <h1 class="title">Invite</h1>
  </ion-nav-title>

</ion-nav-bar>
  
  <ion-content>
<div class="bar bar-assertive item-input-inset search-bar" >
    <label class="item-input-wrapper bar-assertive item-borderless">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="searchText" ng-change="" >
            </label>
</div>
<ion-list >
    <ion-item  ng-repeat="contact in contacts | filter:searchText ">
         {{ contact.name.givenName }}
    </ion-item>
</ion-list>


           
  </ion-content>
</ion-view>
