/* Empty. Add your own CSS if you like */
.pane {
    background-color: #000;
}
.input-no-error {
    border-bottom:1px groove #c95410 !important;
}
.input-with-error {
  border-bottom:1px groove #c95410 !important;
  margin-top:-6px;
}
.error-mgs-container {
  color:red;
  text-align: right;

}

.signin-item {
	margin-top: 30%;
}
.register-item{
	margin-top: 5%;
}
.profile-item{
	margin-top: 15%; 
}
.invite-item{
    margin-top: 15%;
}
#input-text-color{
    color:#fff;
    font-size:18px;
}
.pwd-text-color{
    color:#333;
    font-size:20px;
    text-decoration:none;

}

.skip-for-now{
    color:#fff;
    font-size:20px;
    text-decoration:none;
}
.privacy-policy{
    color:#333;
    line-height: 150%;
}
.account-created-msg{
	color:#333;
	font-size: 25px;
	margin-top: 12%;
	line-height: 150%;
}
#photo{
	color:#fff;
	font-size: 20px;
	margin-top: 55%;
}
#searchcontacts{
	color:#fff;
	font-size: 20px;
  margin-top: 5%;
}
.nbutton-bgcolor{
	background-color: #000;
}
.invite-msg{
	color:#333;
	font-size: 25px;
	margin-top: 2%;
	line-height: 150%;
}
.row img{
	position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
}
.profile-image{
	display: inline-block;
  	width: 150px;
  	height: 150px;
  	border-radius: 50%;
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size: cover;
}
.popover {
    height: auto !important;
}
.popover ion-header-bar {
    position: relative;
}
.popover ion-content {
    top: 0 !important;
    position: relative;
}
